<div class='cover-body'>
  <div class='a'>
    <% if (theme.cover.logo) { %>
    <img class='logo' src='<%- url_for(theme.cover.logo) %>' />
    <% } %>
    <% if (theme.cover.title) { %>
    <!-- <p class="title" style="color: black;"><%- theme.cover.title ? theme.cover.title : config.title %></p> -->
    <p class="title">
      <img src="https://cdn.learnku.com/uploads/avatars/18751_1504315422.jpeg!/both/640x640" alt="logoå¤´åƒ" style="width: 82px;
      height: 82px;
      max-width: 100%;
      border-radius: 50%;">
    </p>
    <% } %>
    <% if (theme.cover.subtitle) { %>
    <p class="subtitle" style="font-size: 1.2rem; font-family: ' STXingkai', 'KaiTi' , 'Microsoft YaHei' , 'SimSun' , sans-serif;margin: 0 auto; letter-spacing: 3px; color: #e67e22; text-overflow: ellipsis; overflow: hidden;
    white-space: nowrap; background-image: -webkit-linear-gradient(left, #cddc39, #e67e22 25%, #cddc39 50%, #e67e22
    75%, #cddc39) !important; -webkit-text-fill-color: transparent!important; -webkit-background-clip: text!important;
    background-size: 200% 100%!important; animation: masked-animation 2s infinite linear !important;">
      <%- theme.cover.subtitle%></p>
    <% } %>
  </div>
  <div class='b'>
    <% if (theme.search.enable === true) { %>
    <div class="m_search">
      <form name="searchform" class="form u-search-form">
        <input type="text" class="input u-search-input" placeholder="<%- theme.cover && theme.cover.search %>" />
        <i class="icon fas fa-search fa-fw"></i>
      </form>
    </div>
    <% } %>
    <div class='menu navigation'>
      <ul class='cover-list-h'>
        <% if (theme.cover.features) { %>
        <% (theme.cover.features || []).forEach(function(value){ %>
        <li>
          <a class="nav home" href="<%= url_for(value.url) %>" <% if (value.rel) { %> rel="<%- value.rel %>" <% } %>
            <% if (value.target) { %> target="<%- value.target %>" <% } %>
            id="<%= url_for(value.url).replace(/\/|%|\./g, "")?url_for(value.url).replace(/\/|%|\./g, ""):"home" %>">
            <% if (value.icon) { %><i class='<%= value.icon %> fa-fw'></i><% } %><%- value.name %>
          </a>
        </li>
        <%})%>
        <% } %>
      </ul>
    </div>
  </div>
</div>